@use "@/styles/mixins" as *;

.audioToggle {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 50px;
  height: 50px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  pointer-events: auto;

  @include adaptive-hover {
    transform: scale(0.9);
  }

  img {
    width: 32px;
    height: 32px;
    filter: brightness(0) invert(1);
  }
}

@media (max-width: 768px) {
  .audioToggle {
    width: 50px;
    height: 50px;
    top: 15px;
    right: 15px;

    img {
      width: 26px;
      height: 26px;
    }
  }
}
