@use "@/styles/mixins" as *;

.interactiveObject {
  position: absolute;
  cursor: pointer;
  transition:
    transform 0.2s ease,
    filter 0.2s ease;
  user-select: none;
  transform: translate(-50%, -50%);
  outline: none;
  -webkit-tap-highlight-color: transparent;

  // &:not(.noHover) {
  //   @include adaptive-hover {
  //     filter: brightness(1) drop-shadow(0 0 10px rgba(255, 255, 255, 0.311));
  //   }
  // }

  &:not(.noHover):active {
    transform: translate(-50%, -50%);
  }

  &.animating {
    animation: bounce 1s ease;
  }

  .gif {
    width: 100%;
    height: 100%;
    object-fit: contain;
    pointer-events: none;
  }
  @media (max-width: 769px) {
    cursor: auto;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translate(-50%, -50%) translateY(0) scale(1);
  }
  25% {
    transform: translate(-50%, -50%) translateY(-20px) scale(1.05);
  }
  50% {
    transform: translate(-50%, -50%) translateY(0) scale(1);
  }
  75% {
    transform: translate(-50%, -50%) translateY(-10px) scale(1.02);
  }
}

//
//
//
//
//
//
//
//
//
//
//
.nightEffect {
  opacity: 0; // Птицы не видно
  pointer-events: none; // Она не мешает кликать по коту
  transition: opacity 0.3s ease;
  z-index: 999999;

  &.toggled {
    opacity: 1;
    // Запускаем полет: длительность 4 секунды, линейно, до конца
    animation: birdFly 4s linear forwards !important;
  }
}

@keyframes birdFly {
  0% {
    /* Начинаем Справа (250%) и Сверху (-120%) */
    transform: translate(250%, -120%);
    opacity: 0;
  }

  15% {
    opacity: 1;
  }

  50% {
    /* Пролет через центр */
    transform: translate(0, -20%);
  }

  85% {
    opacity: 1;
  }

  100% {
    /* Улетает Слева (-250%) и Вниз (120%) */
    transform: translate(-250%, 120%);
    opacity: 0;
  }
}
